{% extends 'base.html' %}
{% block title %} Записи сообщества {{ group.title }} {% endblock title %}
{% block content %}
<h1>{{ group.title }}</h1>
<p>{{ group.description|linebreaksbr }}</p>
<a class="back_buttom" href="{% url 'posts:index' %} ">Вернуться на главную страницу </a>
<hr>
<div class="container py-5">
    {% for post in posts %}
        <article>
            <ul>
                <li>
                    {% if post.author.get_full_name %}
                        Автор: <b>@{{ post.author.get_full_name }}</b>
                    {% else %}
                        Автор:<b>@{{ post.author.username }}</b>
                    {% endif %}
                </li>
                <li>
                    <a href="{% url 'posts:profile' post.author.username %}">Все посты пользователя</a>
                </li>
                <li>
                    Дата публикации: {{ post.pub_date|date:"d E Y" }}
                </li>
            </ul>
            {% load thumbnail %}
                {% thumbnail post.image "640x480"  upscale=True as im %}
                    <img src="{{ im.url }}">
                {% endthumbnail %}
            <p>{{ post|linebreaksbr }}</p>
            <a href="{% url 'posts:post_detail' post.pk %}">Подробная информация</a>
        </article>
        {% if not forloop.last %}
            <hr>
        {% endif %}
    {% endfor %}
    {% include 'includes/paginator.html' %}
</div>

{% endblock content %}