{% extends "base.html" %}
{% block title %}
{% if not request.user.is_authenticated %}
    Пароль изменен
{% else %}  
    Пройдите процедуру изменения пароля
{% endif %}    
{% endblock %}
{% block content %}
{% if not request.user.is_authenticated %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 p-5">
            <div class="card">
                <div class="card-header">
                    Пароль изменён
                </div>
                <div class="card-body">
                    <p>Пароль изменён успешно</p>
                    <a href="{% url 'posts:index'  %}">Вернуться на главную страницу</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="row justify-content-center">
    <div class="col-md-8 p-5">
        <div class="card">
            <div class="card-header">
                Сначала нужно пройти этап изменения пароля.
            </div>
                <div class="card-body">
                    <div class="col-md-6 offset-md-4">
                        <form action="" method="get">   <!--{% url 'users:password_change_done' %}-->
                            <button type="submit" class="btn btn-primary">Изменить пароль</button>
                        </form>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}      