{% extends "base.html" %}
{% block title %} Новый пароль {% endblock %}
{% block content %}
{% load user_filters %}
{% if validlink %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 p-5">
            <div class="card">
                <div class="card-header">
                    <b>Введите новый пароль</b>
                </div>
                <div class="card-body">
                    {% load user_filters %}
                    {% include 'includes/errors_in_form.html'%}
                    <form method="post" action="{% url 'users:password_reset_complete' %}">
                        {% csrf_token %}

                        {% for field in form %}
                            <div class="form-group row my-3 p-3">
                                {% include 'includes/for_field_in_form.html'%}
                            </div>   
                        {% endfor %}

                        <div class="col-md-6 offset-md-4">
                            <button type="submit" class="btn btn-primary">
                                Назначить новый пароль
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- если использована неправильная ссылка -->
{% else %}
    <div class="row justify-content-center">
        <div class="col-md-8 p-5">
            <div class="card">
                <div class="card-header">
                    Ошибка
                </div>
                <div class="card-body">
                    <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- конец если использована неправильная ссылка -->
</div>
{% endif %}
{% endblock %}